<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>I'm Bored</title>
</head>

<body>
  <div class="container">
    <h1>Let's find a joke for you, refresh for another one✌️ </h1>
    
    <section id="cards" class="cards">
      <%if (locals.data) {%>
    

        <article class="card-item">
          <h2 class="card-activity">
            <%=data.setup %>
           
          </h2>
          <div class="card-info">
            <h3><%=data.delivery %></h3>
         
          </div>
        </article>

        <%}%>


          <%if (locals.error) {%>
            <div id="tag-error" class="tag-error">
              <%=error%>
              <h1><%=error%></h1>
            </div>
            <%
          }%>
    </section>
  </div>

</body>

</html>